@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Garden of Tranquility</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the Garden</h2>
        <p>
            The Garden of Tranquility is a remote dreamworld temple that
            teaches mediation, mindfulness and relaxation techniques to 
            combat the stresses in our real life world.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Learn Breathing Techniques</h2>
        <p>Controlling breathing affects how our brain processes stress...a useful skill</p>
    </div>
    <div class="col-md-4">
        <h2>Hands On Learning</h2>
        <p>Whether you want to learn to massage or recieve them, relaxation is the key.</p>
    </div>
</div>
<div>
    <img src="~/Images/zen.jpg" style="display: block; width: 60%; margin: auto;" />
</div><br />